<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/dist/styles.css" />
    <title>checkout</title>
  </head>
  <body>
    <main class="checkout">
      <div class="logo-side">
        <!-- SVG code here -->
      </div>
      <div class="title"><h1>Order Summary</h1></div>
      <div class="picked-items">
        <table align="center">
          <tr>
            <td>Total Items</td>
            <td>20</td>
          </tr>
          <tr>
            <td>Total Charges</td>
            <td>$2790</td>
          </tr>
          <tr>
            <td>Shipping Charges</td>
            <td>$90</td>
          </tr>
          <tr>
            <td>Sub total</td>
            <td>$3520</td>
          </tr>
        </table>
      </div>
      <div class="totals">
        <table>
          <tr>
            <td>Estimated Total</td>
            <td>$2900</td>
          </tr>
        </table>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
